{
  "extends": ["airbnb-base", "prettier", "plugin:eslint-comments/recommended"],
  "env": {
    "node": true
  },
  "plugins": ["import", "prettier", "eslint-comments"],
  "rules": {
    "no-console": "off",
    "prettier/prettier": ["error"]
  }
}
